.main-container{
    position: absolute;
    top: 25%;
    left: 25%;
    -webkit-transform: translate(-25%, -25%);
    transform: translate(-25%, -25%)
}

.main-container img{
    
    width: 115%;
    vertical-align: middle;
}

.sub-txt0{
    text-align: left;
    position: absolute;
    font-weight: bold;
    font-size: 1.3vw;
    top: 0%;
    left: 0%;
}
